.sass-cache
.jekyll-cache
.jekyll-metadata
*.~lock*
_drafts/*
_site
assets/resume/json.lua
assets/resume/resume.json
assets/resume/*.aux
assets/resume/*.log
assets/resume/*.out
assets/resume/*.synctex.gz
Gemfile.lock
TODO.txt
vendor
